.history {
    width: 50%;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 40px;
    margin-top: 80px;
    overflow: auto;
    position: fixed;
    z-index: -1;
    height: calc(100vh - 160px);
    border-radius: 10px;
}

.history__header {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 15px;
}

.history__content {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.filters {
    display: flex;
    gap: 10px;
    padding: 20px;
    position: sticky;
    top: -40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    z-index: 2;
}

.date {
    position: sticky;
    top: 30px;
    background-color: #FFFFFF;
    color: #191919;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1;
}

.dog {
    margin-bottom: 82px;
}

.dog__container {
    padding-top: 122px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #676767;
    font-size: 16px;
}

.events > div:last-child {
    border-bottom: #D1D1D1 solid 1px;
}

.end {
    color: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    padding-bottom: 30px;
}


@media screen and (max-width: 870px) {
    .history {
        width: calc(100% - 40px);
    }

    .history__header {
        font-size: 24px;
        font-weight: bold;
    }

    .filters {
        overflow: auto;
        padding-right: 0;
        padding-left: 0;
    }
}
