.content{
    display: flex;
    height: 100%;
    justify-content: center;
}

.menu {
    position: fixed;
    width: 20%;
    background-color: #F4F4F4;
    height: calc(100vh - 175px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #BDBDBD;
    border-radius: 10px;
    overflow: auto;
}

.left_menu {
    left: 0;
    margin: 135px 0 40px 20px;
}

.right_menu {
    right: 0;
    margin: 135px 20px 40px 0;
}

@media screen and (max-width: 870px) {
    .menu{
        visibility: hidden;
    }
}
