.menu {
    position: fixed;
    bottom: 0;
    height: 63px;
    width: 100%;
    display: none;
    background-color: #FFFFFF;
}

.menu__button {
    display: none;
    position: fixed;
    height: 54px;
    width: 54px;
    background-color: #191919;
    border-radius: 50%;
    bottom: 73px;
    z-index: 1;
    left: calc(50% - 27px);

}

.circle {
    width: 8px;
    height: 8px;
    background-color: #D84D4D;
    border-radius: 50%;
}

.circle__small {
    position: relative;
    margin-left: -3px;
}

.history {
    display: flex;
}

.text {
    font-size: 10px;
    color: #C8C8C8;
}

.text__history {
    font-size: 10px;
    color: #835DE1;
}


@media screen and (max-width: 870px) {
    .menu {
        display: flex;
        justify-content: space-between;
        padding-left: 22px;
        padding-right: 22px;
        align-items: center;
        width: calc(100% - 44px);
        left: 0;
    }

    .menu__button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
